<html>
	<body>
		<h1>Alarme active pour {{ heure }} : {{ minute }} </h1>
		<h2>Alarme BBB = {{ bbb }}</h2>
		<h2>Alarme WEB = {{ web }}</h2>
		<h2>Mode = {{ mode }}</h2>
		<h2>Lundi = {{ lundis }}</h2>
		<h2>Mardi = {{ mardis }}</h2>
		<h2>Mercredi = {{ mercredis }}</h2>
		<h2>Jeudi = {{ jeudis }}</h2>		
		<h2>Vendredi = {{ vendredis }}</h2>
		<h2>Samedi = {{ samedis }}</h2>
		<h2>Dimanche = {{ dimanches }}</h2>

	</body>
</html>
